examples/target/
engine/target/

*.class

.gradle/
!gradle/wrapper/gradle-wrapper.jar

.gradle/
build/
out/

*.iml
.idea/


# Package Files #
*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
